{% extends 'AdminAppTemp/skeleton.html' %}

{% load static %}

{% block create %}

<div class="row">
  <div class="col-12 mb-5 position-relative">
    <br>
    <h2 class="section-title text-center mb-5">U-Sync Creatives</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createservices/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Services</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createsubservices/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Sub-Services</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createpackages/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Packages</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createoffers/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Offers</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createterms/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Terms</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createadvantages/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Advantages</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createworkselectors/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Wrok Section Selectors</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createworkimages/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Work Section Images</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createtimeslots/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Time Slots</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createblog/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Blog</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 text-center" style="margin:20px 0px;">
      <a href="/AdminApp/createblogpara/">
        <div class="service d-flex h-100" style="background-color:#3c332d;">
          <div class="service-about">
            <h3 style="color:white;">Blog Paragraphs</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
