{% extends 'AdminAppTemp/skeleton.html' %}

{% load static %}

{% block notifications %}

<div class="container">
  <div class="row">
    <div class="col-12 mb-5 position-relative">
      <br>
      <h2 class="section-title text-center mb-5">Notifications</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {% for i in nobj %}
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <p>{{ i.ndate }} - for {{ i.ntype }}</p>
            Subject : {{ i.subject }} <br>
            Content : {{ i.content }}
          </div>
          <div class="col-lg-12">
            <a href="/AdminApp/delnotification/{{ i.id }}/"><button type="button" class="btn btn-primary" name="button">Delete</button></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<br>
{% endblock %}
